$base-font: 'Lato', sans-serif;

$primary: #0023ff;
$secondary: #f0f0f0;
$third: #fff;

$primary-text: #000;
$secondary-text: #c1c1c1;
$shadow: 0 0 25px rgba(219, 219, 219, 0.5);

$success: green;
$warning: yellow;
$danger: red;
