<main class="content">
  <div class="search-page page-offset">
    <div class="container">
      <form class="search-form">
        <div class="search-form__item">
          <input type="text" class="search-form__textfield" id="search-textfield" />
          <button type="button" class="search-form__clear">
            <i class="fas fa-times"></i>
          </button>
          <label for="search-textfield" class="search-form__label">Type product you are looking for</label>
        </div>
      </form>

      <div class="search-page__result-row" hidden></div>

      <div class="loader" hidden>Loading...</div>
      <div class="result" hidden>
        <span class="result__item"></span>
        Searched result
      </div>
    </div>
  </div>
</main>
