.nav {
  @include size(374px, 100vh);
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  background: $third;
  box-shadow: $shadow;
  padding: 170px 70px 120px 20px;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.2s linear;

  &.active {
    transform: translateX(0);
  }

  @mixin small {
    width: 100%;
    padding: 100px 20px 15px 20px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-bottom: 60px;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:hover {
    .nav__title {
      color: $primary;
    }
  }
}

.nav__link--active {
  color: $primary;
}

.nav__title {
  text-transform: uppercase;
  color: $secondary-text;
  @include font-size(18);
  transition: color 0.2s linear;
}

.nav__icon {
  width: 80px;
  margin-left: 20px;
  display: flex;

  > img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.nav-btn {
  @include size(87px, 87px);
  background: $third;
  border-radius: 50%;
  box-shadow: $shadow;
  border: none;
  @include font-size(25);
  cursor: pointer;
  padding: 0;
  position: fixed;
  right: 55px;
  top: 75px;
  z-index: 99;
  transition: color 0.2s linear;

  &:hover {
    color: $primary;
  }

  @media screen and (max-width: 887px) {
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    @include font-size(20);
  }
}
